body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1px;
    text-align: center;
    background-size: cover;
    background-image: url('https://png.pngtree.com/background/20221127/original/pngtree-aesthetic-simple-background-with-leaf-ornament-picture-image_1965436.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     
}
#texto{
 height: 100px; 

 width: 50%;
 overflow: hidden; 
}
hr{
    background-color: black;
}
.titulo{
    color: black; 
}
 main{
    margin-bottom: 100px;
}

li{  
 padding: 10px;
 margin-bottom: 10px;
 border-radius: 40% 10%; 
 background:transparent;
 backdrop-filter: blur(10px);
 border: 5px outset #FF1493 ;
 text-align: left;
 color: black;
 
}
ul{
    padding: 0;
    list-style-type:none;
    display: flex;
    gap: 5px 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button{
    color: black;
    
   /*  cursor: url('https://cdn-icons-png.flaticon.com/512/99/99188.png'), auto;*/
    cursor: pointer;
     transition: transform 0.3s ease-in-out;

}
button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #73afdd,
                0px 0px 30px  #73afdd,
                0px 0px 90px #9163da;
}

.pie-de-pagina{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 60px;
    text-align:center;
    color: white;
}
header{
   background:transparent;
   
}

